.productCard__container{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 300px;
  height: 200px;
  border: solid 1px gray;
  border-radius: 8px;;
  font-size: 12px;
  margin: 5px;
  padding: 10px;

}
.productCard__imageWrapper{
  display: flex;
  align-content: center;
  position: relative;
  justify-content: center

}
.productCard__image{
  position: relative;
  width: 100px;
  height: 100px;

}
.ProductCard__Text{
  position: relative;
  }

.productCard__button{
  background-color: #3E6CFF;
  color:aliceblue;
  border-radius: 8px;
  border: transparent;

}
